/* universal style */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: aquamarine; */
}

main {
    /* position: relative; */
    top: 64px;
}

h1 {
    font-size: 2rem;
    color: rgb(74, 74, 74);
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    color: rgb(74, 74, 74);
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    color: rgb(74, 74, 74);
    margin: 0;
}

h4 {
    color: rgb(74, 74, 74);
    margin: 0;
}

h5 {
    color: rgb(74, 74, 74);
    margin: 0;
}

p {
    color: rgb(120, 120, 120);
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: rgb(120, 120, 120);
    margin: 8px 0;
}

strong {
    color: rgb(74, 74, 74);
}

.read_more {
    color: rgb(98, 156, 223);
}


/* nav for desktop */
header{
    background-color: rgb(255, 255, 255);
    /* position: fixed;
    z-index: 1; */
    width: 100%;
    height: 64px;
}

.nav_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

.nav_left {
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 32px;
}

.logo{
    width: 100%;
    height: 100%;
}

.name {
    text-transform: uppercase;
    font-size: 1.1rem;
}

.nav_right {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 24px;
}

.nav_right a {
    margin-left: 16px;
}

.nav_mobile {
    display: none;
}

/* nav for mobile */

@media screen and (max-width: 768px) {
    .nav_desktop {
        display: none;
    }

    .nav_mobile {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        position: fixed;
    }

    .nav_icon{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

/* section hero for desktop */

.hero {
    display: flex;
    background-color: rgb(216, 216, 216);
}

.hero_left {
    width: 60%;
    margin: 32px 24px;
}

.hero_left img {
    width: 100%;
    height: 100%;
}

.hero_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px 24px 32px 0;
}

.hero_right p {
    font-size: 1.1rem;
    color: rgb(74, 74, 74);
    margin-top: 32px;
}

.hero_button {
    background-color: rgb(74, 74, 74);
    width: 80%;
    height: 32px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_button a {
    color: rgb(255, 255, 255);
    margin: 8px 0;
}

/* section hero for mobile */

@media screen and (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero_left {
        width: 100%;
        margin: 0;
    }

    .hero_left img {
        width: 100%;
    }

    .hero_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 32px 16px;
    }

    .hero_button {
        background-color: rgb(155, 155, 155);
        width: 100%;
    }
}

 /* section information for desktop */

.info_desktop {
    display: flex;
}

.info_left {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
}

.info_left img {
    width: 100%;
}

.info_left h2 {
    margin: 32px 0 24px 0;
}

.info_left h4 {
    margin-top: 24px;
    font-weight: normal;
}

.info_right {
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 32px;
}

.info_box {
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    align-items: center;
}

#info_box_3 {
    background-color: rgb(216, 216, 216);
}

.info_box_img {
    width: 35%;
    height: auto;
    margin: 16px;
}

 .info_box_img img {
    width: 100%;
}

.info_box_text {
    /* border: 1px solid blue; */
    width: 65%;
    height: 60%;
    font-size: small;

}

.info_box_text h3 {
    font-size: 1rem;
}
 
.info_mobile {
    display: none;
}

/* section information for mobile */

@media screen and (max-width: 768px) {
    .info_desktop {
        display: none;
    }
    .info_mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 16px;
    }
    .info_mo_box {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
    
    }
    .info_mo_box_img {
        width: 100%;
    }
    .info_mo_box_img img {
        width: 100%;
    }
    .info_mo_box_text {
        margin-left: 16px;
        margin-bottom: 64px;
    }
    .info_mo_box_text h3 {
        margin-top: 24px;
    }
}

/* section course for desktop */

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 235, 236);
}

.course_head {
    margin: 32px;
}

.course_multibox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 72px;
}

.course_box {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 40%;
    height: auto;
    margin: 0 32px 32px 0;
}

.course_box img {
    width: 100%;
}

.course_box_text {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.course_box_text p {
    margin: 0;
}

#course {
    margin: 8px 0;
}

.course_mobile {
    display: none;
}

/* section course for mobile */

@media screen and (max-width: 768px) {
    .course {
        display: none;
    }

    .course_mobile {
        display: flex;
        flex-direction: column;
    }

    .course_head {
        margin: 0;
    }

    .course_head h2 {
        margin: 32px 0 16px 0;
        text-align: center;
    }

    .course_list {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        margin-bottom: 32px;
    }

    .course_list a {
        background-color: rgb(216, 216, 216);
        margin-bottom: 8px;
        padding: 16px 0 24px 16px;
        font-size: 1.1rem;
        font-weight: bold;
        color: rgb(74, 74, 74);
    }
}

/* section thesis for desktop */

.thesis_desktop {
    display: flex;
    flex-direction: column;
}

.thesis_head h2{
    text-align: center;
    margin: 32px 0;
}

.thesis_main {
    display: flex;
    margin-bottom: 32px;
}

.thesis_left {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 24px;
}

.thesis_left video {
    width: 100%;
}

.thesis_left h3 {
    margin: 24px 0 8px 0;
}

.thesis_right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.thesis_box {
    /* border: 1px solid rgb(216, 216, 216); */
    display: flex;
    align-items: center;
}

.thesis_box_img {
    width: 35%;
    height: auto;
    margin: 16px;
}

#thesis_box_1 {
    background-color: rgb(216, 216, 216);
}

 .thesis_box_img img {
    width: 100%;
}

.thesis_box_text {
    /* border: 1px solid blue; */
    width: 65%;
    height: 60%;
    font-size: small;

}

.thesis_box_text h3 {
    font-size: 1rem;
}
 
/* section thesis mobile */
@media screen and (max-width: 768px) {
    .thesis_left {
        width: 100%;
    }
    
    .thesis_right,
    .thesis_left h3,
    .thesis_left p {
        display: none;
    }
}

/* footer */

footer {
    /* position: absolute; */
    /* bottom: 0; */
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.footer_left {
    margin: 16px 24px;
}

.footer_right {
    display: flex;
    margin: 16px 24px;
}

.footer_right a {
    margin-left: 16px;
}

/* footer fot mobile */
 @media screen and (max-width: 768px) {
    .footer a {
        display: none;
    }
 }
