/* universal style */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: aquamarine; */
}

h1 {
    font-size: 2rem;
    color: rgb(74, 74, 74);
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    color: rgb(74, 74, 74);
}

h3 {
    font-size: 1.5rem;
    color: rgb(74, 74, 74);
}

h4 {
    color: rgb(74, 74, 74);
}

h5 {
    color: rgb(74, 74, 74);
}

p {
    color: rgb(120, 120, 120);
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: rgb(120, 120, 120);
}

strong {
    color: rgb(74, 74, 74);
}


/* nav for desktop */

.nav_desktop {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 64px;
}

.nav_left {
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 32px;
}

.logo{
    width: 100%;
    height: 100%;
}

.name {
    text-transform: uppercase;
    font-size: 1.1rem;
}

.nav_right {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 24px;
}

.nav_right a {
    margin-left: 16px;
}

.nav_mobile {
    display: none;
}

/* nav for mobile */

@media screen and (max-width: 768px) {
    .nav_desktop {
        display: none;
    }

    .nav_mobile {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        position: fixed;
    }

    .nav_icon{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

/* section hero for desktop */

.hero {
    position: relative;
    top: 64px;
    z-index: 1;
    display: flex;
    background-color: rgb(216, 216, 216);
}

.hero_left {
    width: 60%;
    margin: 32px 24px;
}

.hero_left img {
    width: 100%;
    height: 100%;
}

.hero_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px 24px 32px 0;
}

.hero_right p {
    font-size: 1.1rem;
    color: rgb(74, 74, 74);
    margin-top: 32px;
}

.hero_button {
    background-color: rgb(74, 74, 74);
    width: 80%;
    height: 32px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_button a {
    color: rgb(255, 255, 255);
    margin: 8px 0;
}

/* section hero for mobile */

@media screen and (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero_left {
        width: 100%;
        margin: 0;
    }

    .hero_left img {
        width: 100%;
    }

    .hero_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 32px 16px;
    }

    .hero_button {
        background-color: rgb(155, 155, 155);
        width: 100%;
    }
}